body {
    background-image: url("https://c1.wallpaperflare.com/preview/477/874/350/potion-poison-halloween-scary.jpg");
 /*   background-image: url("../img/galaxy.jpg");*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 100%;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

html {
    height: 100%;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

#container {
    background: linear-gradient(135deg, rgba(4, 51, 28, 0.945), rgb(54, 9, 59));
    margin: auto;
    margin-bottom: 3%;
    height: 100%;
    padding-right: 0px !important;
    padding-left: 0px !important;
    border-radius: 5px;
}

#central {
    height: 100%;
    margin: 0em;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

#gauche {
    
    size: 100%;
    padding: 40px;
}

#droite {
    background-color: rgba(29, 29, 29, 0.931);
    border-left: 1px black solid;
    size: 100%;
    text-align: center;
  
    border-radius: 5px;
   
}

#banner {
    margin: 0em;
    padding: 30px;
    color: #fff;
    border: 1px black solid;
}

#partie {
    
    height: 75%;
    min-width: 200px;
    min-height: 500px;
}

#partie_title{
    color: rgb(253, 253, 253);
    background-color: rgba(65, 65, 65, 0.795);
    border-radius: 5px;
    padding: 2%
   
}
#home_section {
    font-size: 30px;
    margin: 0em;
    background-color: rgb(42, 42, 42);
    color: rgb(255, 255, 255);
    font-weight: lighter;
    bottom: 0;
    width: 100%;
}

#pseudo {
   
    margin: 0px;
    display: flex;

}

.newsletter {
    z-index: 2;
    padding: 5%;
}

.flex {
    display: flex !important;
}

.newsletter h6 {
    color: #ffffff;
    width: 100%;
}

.newsletter.form-control {
    height: 50px;
    border-color: #ffffff;
    border-radius: 0;
    background: none;
    flex: none;
}

.newsletter input {
    background: none;
    width: 350px;
    flex: none;
}

.newsletter.form-control:focus {
    box-shadow: none;
    border: 2px solid #243c4f;
}

.newsletter .btn {
    min-height: 50px;
    border: white 1px solid;
    background: none;
    color: #fff;
    font-weight: 600;
}



#new_game_button, #aide {
    margin-top: 10px;
    margin-bottom: 30px;
}

.round {
    width: 30%;
    min-width: 100px;
    height: 30%;
    min-height: 100px;
    border-radius: 50%;
    border: 3px rgb(0, 0, 0) solid;
    margin-top: 30px;
}
.square{
    width: 25%;
    height: 25%;
  background-color: black;
    border: 3px rgb(211, 162, 1) solid;

}

#link_footer {
    text-align: right;
    border-right: white 1px solid;
    margin: auto;
}

#oneplay{
    background-color: rgb(31, 31, 31);
    min-height: 15%;
    color: rgb(255, 255, 255);
    margin: 1em;
    padding: 10%;
    border-radius: 5px;
    border-left: 1px black solid;
    width: 80%;
}

#galery{
    color: seashell;
    font-family: 'Fredericka the Great', cursive;
    font-size: 3em;
    padding: 5%;

}

#pseudo img{
    margin-right: 5%;
    margin-bottom: 5%;
}

h1{
    font-family: 'Fredericka the Great', cursive;
    font-size: 3em;
    padding: 5%;
}
/*
#top_right{
    border: 1px black solid;
}

*/